<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/store.css">
    <title>وارد حساب کاربری  خود شوید</title>
</head>
<body style="background-color: black;">
    <form action="/api/auth/signup" method="post" class="form-login" >
         <h1 class="tag">signup</h1>
         
        <input class="emails"     name="email" type="text" placeholder="ایمیل خود را وارد کنید">
        <input class="password"   name="password" type="password" placeholder=" پسورد خود  را وارد کنید">
        <button class="btn-submit2" type="submit">ثبت نام</button>
    </form>

</body>
<script src="store.js"></script>
</html>


